body {
	padding:0px;
	margin:0px;
}
.container-info-1 {
	background-color: rgb(255, 255, 255);
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
.container-info-1__position_1 {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	height: 230px;
}
.container-info-1__position_1__heading_1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
}
.container-info-1__div-text-1::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 127px;
	background-color: black;
}
#container-info-1__position_1__text_1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.container-info-1__div-slider-1 {
	border-radius: 15px;
	background-color: rgb(197, 197, 197);
	box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.container-info-1__div-slider-1 img {
	width: 400px;
	height: 230px;
	border-radius: 15px;
	border: 2px solid rgb(0, 255, 42);
}
.container-info-1__div-slider-1 img:hover {
	box-shadow: 0px 0px 30px rgb(76, 212, 106);
}
.container-info-1__position_2 {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	height: 230px;
}
.container-info-1__position_1__heading_2 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
}
#container-info-1__position_1__text_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.container-info-1__div-text-2::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 127px;
	background-color: black;
}
.container-info-1__div-slider-2 {
	border-radius: 15px;
	background-color: rgb(197, 197, 197);
	box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.container-info-1__div-slider-2 img {
	width: 400px;
	height: 230px;
	border-radius: 15px;
	border: 2px solid rgb(0, 255, 42);
}
.container-info-1__div-slider-2 img:hover {
	box-shadow: 0px 0px 30px rgb(76, 212, 106);
}
.container-info-2 {
	background-color: rgb(255, 255, 255);
	height: 600px;
	
}
.container-info-2__container-img {
	display: flex;
	justify-content: center;
	background-color: rgb(0, 255, 42);
	width: 100%;
}
.container-info-2__card-potision {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-info-2__button__left {
	margin: 0px;
	padding: 0px;
	border: 1px;
	border-radius: 30px;
	width: 48px;
	height: 48px;
}
.container-info-2__button__left img {
	width: 48px;
	height: 48px;
}
.container-info-2__button__left:hover {
	box-shadow: 0px 0px 20px rgb(76, 212, 106);
}
.container-info-2__button__left-double {
	margin: 0px;
	padding: 0px;
	border: 1px;
	border-radius: 30px;
	width: 24px;
	height: 24px;
}
.container-info-2__button__left-double img {
	width: 24px;
	height: 24px;
}
.container-info-2__button__left-double:hover {
	box-shadow: 0px 0px 20px rgb(76, 212, 106);
}
.container-info-2__button__right {
	margin: 0px;
	padding: 0px;
	border: 1px;
	border-radius: 30px;
	width: 48px;
	height: 48px;
}
.container-info-2__button__right img {
	width: 48px;
	height: 48px;
}
.container-info-2__button__right:hover {
	box-shadow: 0px 0px 20px rgb(76, 212, 106);
}
.container-info-2__button__right-double {
	margin: 0px;
	padding: 0px;
	border: 1px;
	border-radius: 30px;
	width: 24px;
	height: 24px;
}
.container-info-2__button__right-double img {
	width: 24px;
	height: 24px;
}
.container-info-2__button__right-double:hover {
	box-shadow: 0px 0px 20px rgb(76, 212, 106);
}
.container-info-2__card-display {
	height: 310px;
	width: 600px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.container-info-2__card-display::before {
	display: block;
	position: absolute;
	width: 1px;
	height: 310px;
	background-color: rgb(76, 212, 106);
}
.container-info-2__card-view {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 310px;
	width: 2000px;
	background-color: rgb(255, 255, 255);
}

.card-1 , .card-2 , .card-3 , .card-4 , .card-5 , .card-6{
	position: relative;
	display: block;
	margin: 0px;
	width: 250px;
	height: 300px;
	background-color: aqua;
	border-radius: 30px;
	border: 3px solid black;
}
.card-1:hover , .card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover, .card-6:hover{
	box-shadow: 0px 0px 20px rgb(76, 212, 106);
}

.button-potision {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 1205px;
}
.button-potision .button__up {
	margin: 0px;
	padding: 0px;
	height: 48px;
	width: 48px;
	border: none;
}
.button-potision .button__up {
	background: none;
}
.button-potision .button__up:hover img{
	border-radius: 30px;
	border: 1px double rgb(76, 212, 106);
	box-shadow: 0px 0px 20px rgb(76, 212, 106);
}